.contacts {
    @include container;
    position: relative;
    &__title {
        @include title;
        margin-top: 56px;
    }
    &__wrapper {
        @include flex;
        align-items: center;
        margin-bottom: 72px;
    }
    &__foto--wrap {
       @include size (412px, 412px);
    }
    &__foto {
        border-radius: 50%;
        @include size (412px, 412px);
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 213px;
    }
    &__links--social {
        margin-bottom: 104px;
        .social-item {
            margin-right: 17px;
        }
    }
    &__links--phone {
        .contacts--details {
            display: block;
            @include fonts (24px, 400);
            color: #000000;
            margin-bottom: 8px;
        }
    }
    .button--up {
        @include size (50px, 50px);
        background-color: $color-blue;
        @include position (absolute, null, 0, 87%, null);
        > svg {
            @include size (50px, 50px);
        }
    }
}